@{
    ViewData["Title"] = "Help";
}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/sitee.css" />
<link rel="stylesheet" href="~/css/product.css" />
<link rel="stylesheet" href="~/css/category.css" />


<hr />
<h2 class="title">Help</h2>
<hr />

<div>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        The Inventory Management Solutions is an application to help a small business store to register their entry. To run the program, there will be administrator and user accounts. Administrator account has access to all areas and in creating suppliers and addresses. Unlike the administrator, the user account only has access to categories, products and transactions.
        The application's features serve to ensure that the Transaction, both the purchase part, the sale part, or the loss part, are executed with the best possible specification. In order to have this detail in the specification, separate information groups were created, which are: Categories, Products, Suppliers, Addresses and Transactions.
    </p>
    <hr />
     
    <h3 style="font-family:sans-serif; font-weight:bold;" >
        •	Category
    </h3>


    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        Categories are groups of products formed by complementary or substitute items to meet consumer needs.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        To create a category, the user will need to write the Name and Description of the Category.
    </p>
    <hr />

    <h3 style="font-family:sans-serif; font-weight:bold;">
        •	Product
    </h3>


    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        Products are physical goods or merchandise that will be available for sale to the customer.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        To create a product, the user will need to select a Category, write the Name, Brand and Description of the Product.
    </p>
    <hr />

    <h3 style="font-family:sans-serif; font-weight:bold;";>
        •	Address
    </h3>

    <p style="font-size:15px; font-family:sans-serif; text-align:justify">

        A set of data that identifies a building or property, usually including street name, house number, and other data.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        To create an address, the user will need to write the Country, City, Province, Postal Code and Street.
    </p>
    <hr />

    <h3 style="font-family:sans-serif; font-weight:bold;">
        •	Supplier
    </h3>

    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        The supplier is the person or company that supplies something to another company or community.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        To create a supplier, the user will need to select the address which the supplier is located, write the Name, Telephone, Account Number of the Supplier.
    </p>
    <hr />
    <h3 style="font-family:sans-serif; font-weight:bold;">
        •	Transaction
    </h3>

    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        Transaction is an agreement concluded between a buyer and a seller to exchange goods.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        To create a transaction, the user will need to select the Product and Category, write the date that will be registered and quantity.
    </p>
    <p style="font-size:15px; font-family:sans-serif; text-align:justify">
        In order to help the customer, there are icons to help the guide the operation. Some of the Icons are:
    </p>
    <hr />


    <div class="card">
        <div class="card-header" style="height:50%">Icons Index</div>
        <div class="card-body" style="width:80%">
            <table id="myTable" class="display" style="width:100%">
                <thead>
             
                    <tr>
                        <td style="font-size:15px; font-family:sans-serif; text-align:justify">
                            <img src="~/images/add.jpg" alt="..." class="img-responsive img-rounded" style="width:40px" />
                        </td>
                        <td  style="font-size:18px; font-family:sans-serif; text-align:justify; font-weight:bold">
                            • Add/New icon.
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:15px; font-family:sans-serif; text-align:justify">
                            <img src="~/images/edit.png" alt="..." class="img-responsive img-rounded" style="width:40px" />
                        </td>
                        <td style="font-size:18px; font-family:sans-serif; text-align:justify; font-weight:bold">
                            • Edit icon.
                        </td>
                </tr>
                    <tr>
                        <td>
                            <img src="~/images/delete.png" alt="..." class="img-responsive img-rounded" style="width:40px" />
                        </td>
                        <td style="font-size:18px; font-family:sans-serif; text-align:justify; font-weight:bold">
                            • Delete icon.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/details.png" alt="..." class="img-responsive img-rounded" style="width:40px" />
                        </td>
                        <td style="font-size:18px; font-family:sans-serif; text-align:justify; font-weight:bold">
                            • Details/Information icon.
                        </td>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>