@{
    ViewBag.Title = "Access Denied";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/sitee.css" />
<link rel="stylesheet" href="~/css/category.css" />
<link rel="stylesheet" href="~/css/product.css" />

<hr />
<h1 class="btn-danger" style="font-weight:bold; text-align:center">Access denied</h1>
<hr />


<div>

    <h3>You need to be login with the correct account to access this informations.</h3>
    <h3>Please contact the administrator or support.</h3>
</div>

<div>
    <img src="~/images/warningItem.png" alt="warningAccess" width="60" height="60" style="align-content:inherit" />
</div>


<hr />
<br />
<hr  class="btn-danger" />
<br />
<hr />
