@{
    ViewData["Title"] = "Contact Us";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/sitee.css" />
<link rel="stylesheet" href="~/css/category.css" />
<link rel="stylesheet" href="~/css/product.css" />



<hr />
<h2 class="title">Contact Us</h2>
<hr />



<h3>If you need any assistance please contact us trhough the e-mail addresses bellow:</h3>
<br>
<hr />
<div class="mr-2 d-flex">
    <div>
        <h3>Carlos Mauricio Silveira Barros Filho </h3>
        <a href="mailto:csilveirabarros9148@conestogac.on.ca?subject=your title&body=TThe message">
            <i class="fa fa-envelope" style="font-size: 48px; color: #025ea1"></i>
        </a>
    </div>
</div>
<hr />

<hr />
<div class="mr-2 d-flex">
    <div>
        <h3>Luiz Felipe Ferigato Bueno</h3>
        <a href="mailto:lferigatobueno2733@conestogac.on.ca?subject=your title&body=TThe message">
            <i class="fa fa-envelope" style="font-size: 48px; color: #025ea1"></i>
        </a>
    </div>
</div>
<hr />

<hr />
<div class="mr-2 d-flex">
    <div>
        <h3>Robyson Willyan de Paula</h3>
        <a href="mailto:rdepaula6435@conestogac.on.ca?subject=your title&body=TThe message">
            <i class="fa fa-envelope" style="font-size: 48px; color: #025ea1"></i>
        </a>
    </div>
</div>
<hr />



<hr />
<br />
<hr class="midleLine" />
<br />
<hr />
